@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{font-family: "Azeret Mono", monospace;
}

/* All Shared */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-aling{
  text-align: center;
}

/* banner section style start here */
.banner-container{
  max-width: 1440px;
  height: 652px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-blend-mode: overlay;
}

.banner-container{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}

.banner-content{
  width: 998px;
  height: 582px;
   /* border: 2px solid red; */
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items:center;
}

.image-content{
 width: 240.28px;
 height: 240px;
 margin-top: 15px;
}

.banner-content .banner-title{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

.banner-content .benner-description{
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.banner-content .btn-one{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  

}

.banner-content .btn-one{
width: 208px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
margin: 32px 0px;
border-radius: 8px;
background: rgb(13, 19, 33);
}
/* banner section style end here */

 /* Web Development section style start here */
.btn{
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
margin: 32px 0px;
}
.btn{
 color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 16px;
 font-weight: 600;
 text-align: center;
}

 .web-development-container{
 max-width: 1140px;
 height: 1395px;
 /* border: 2px solid red; */
 margin: 0 auto;
 left: 148px;
 right: 152px;
 top: 857px;
 bottom: 2993px;
 align-items: center;
 border-radius: 16px;
 background: rgba(13, 19, 33, 0.02);
 }
 .web-development-content{
  width: 852px;
  height: 39px;
  margin: 0 auto;
  margin-top: 80px;
 }


 .web-development-content .web-development-title{
  color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 32px;
 font-weight: 800;
 text-align: center;
 margin-bottom: 24px;
 }

  .web-development-content .web-development-description{
   opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  }

 .web-development-container .three-container-one{
    max-width: 946px;
   height: 336px;
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 48px;
   margin-bottom: 32px;
   border-radius: 16px;
   background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}solid red;
 .web-development-container .three-container-two{
  max-width: 946px;
  height: 336px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 }

 .web-development-container .three-container-three{
  max-width: 946px;
  height: 336px;
 border: 2px 
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding: 48px;
 border-radius: 16px;
 background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 }
 .one-content .one-title{
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 16px;
 }

 .one-content .one-descripton{
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
 }

 .three-container-one .img{
  width: 259.56px;
  height: 217.01px;
 }

 .web-development-container .three-container-one {
  display: flex;
   flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px 80px 97px;
 }

 
  .three-container-two .img{
    width: 223.2px;
    height: 208.85px;

  }

  .two-content .two-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 16px;
   }
   
    .two-content .two-descripton{
      opacity: 0.7;
      color: rgb(13, 19, 33);
      font-family: Azeret Mono;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
  

  .web-development-container .three-container-two{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
  }

  .web-development-container .three-container-three{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
  }

  .three-content .three-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 16px;
   }
   
    .three-content .three-descripton{
      opacity: 0.7;
      color: rgb(13, 19, 33);
      font-family: Azeret Mono;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
    .three-content .img{
      width: 206.4px;
      height: 187.32px;
    }
/* Web Development section style end here */

/* Inspiration section style start here */
.inspiration-container {
  margin-top: 88px;
  max-width: 1140px;
  height: 775px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 88px;
}
.inspiration-content h2{
  color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 32px;
 font-weight: 800;
 text-align: center;
 margin-bottom: 24px;
}
.inspiration-content p{
  opacity: 0.7;
  color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 16px;
 font-weight: 400;
 text-align: center;
 margin-left: 144px;
 margin-right: 144px;
}
.inspiration-container .video-content {

 width: 1140px;
 height: 614px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding: 32px;
 margin: 48px 0px; 
 box-sizing: border-box;
 border: 1px solid rgba(13, 19, 33, 0.2);
 border-radius: 16px;
}
/* Inspiration section style end here */

 /* Current Target section style start here */
 
 .current-content h3{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-top: 90px;
 }
 .current-content p{
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-left: 144px;
  margin-right: 144px;
 }
 .skill-content-one{
  width: 364px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
 border-radius: 16px;
 background: rgba(255, 76, 30, 0.05);
 }
 .skill-content-one .skill-title{
width: 284px;
height: 36px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin: 8px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
 }
 .skill-content-one .skill-description{
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
 }
 .skill-content-one .skill-b{
  color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 16px;
 font-weight: 700;
 text-align: left;
 }
 .skill-content-two{
 width: 364px;
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding: 40px;
 margin: 0px 24px;
 border-radius: 16px;
 background: rgba(0, 76, 232, 0.05);
 }
 .skill-content-two .skill-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 8px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
 }
 .skill-content-two .skill-description{
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
 }
 .skill-content-two .skill-b{
  color: rgb(13, 19, 33);
 font-family: Azeret Mono;
 font-size: 16px;
 font-weight: 700;
 text-align: left;
 }

 .skill-content-three{
  width: 364px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  }
  .skill-content-three .skill-title{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   margin: 8px 0px;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 800;
   text-align: left;
  }
  .skill-content-three .skill-description{
   opacity: 0.7;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 15px;
   font-weight: 400;
   text-align: left;
   margin-bottom: 24px;
  }
  .skill-content-three .skill-b{
   color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  }
 .skill{
  display: flex;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px
 }
/* Current Target section style end here */

/* I Need Support section style start here */
.need-container{
  width: 1140px;
  height: 314px;
  border-radius: 16px;
  background-color: rgba(0,0,0,0.5);
  background-image: url(../assets/handshake.jpg);
  background-blend-mode: overlay;
 text-align: center;
 justify-content: center;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0px;

 /* border: 2px solid red; */
}
.need-container h4{
 color: rgb(255, 255, 255);
 font-family: Azeret Mono;
 font-size: 32px;
 font-weight: 700;
 text-align: center;
}
.need-container p{
  opacity: 0.7;
  color: rgb(255, 255, 255);
 font-family: Azeret Mono;
 font-size: 14px;
 font-weight: 400;
 text-align: center;
 margin-top: 16px;
}
.name{
width: 450px;
height: 50px;
align-items: center;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
.submit{
  width: 110px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
/* I Need Support section style end here */

/* Last section style start here */
.last-container{
  width: 1440px;
 height: 100px;
  background-color: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  margin-top: 79px;
}

.last-content{
  color: rgb(13, 19, 33);font-family: Azeret Mono;font-size: 18px;
 font-weight: 600;
 text-align: center;
}

/* Last section style end here */
